# Ignoriere alle Dateien im Output-Ordner
output/*
# ...aber behalte eine leere .gitkeep Datei, damit der Ordner existiert (optional)
!output/.gitkeep

# Ignoriere temporäre Systemdateien
.DS_Store
__pycache__/

# Ignore everything under data/ except specific accession lists
#data/**
#!data/**/reference_accessions.txt
#!data/**/SRR_Acc_List.txt
/data/**/*.ebwt
/data/**/*.fasta